*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header{
    background:#D2EBFF;
}


.nav-item{
    margin-left: 40px;
    margin-bottom: 10px;
}

.navbarbrand{
    color:  #0b3877;
    font-size: 30px;
    padding: 2px 0 2px 2px;
    text-decoration: none;
}
.navlink{
    color:  #0b3877 !important;
    font-size: 20px !important; 
    padding: 2px 0 2px 2px;
    display: unset !important;
    text-decoration: none;
}